In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [6]:
import os
os.chdir('/Users/talhajamal/Desktop/Code/BigData1Project')

In [8]:
returns_data = pd.read_csv("data/Returns_Data.csv")
returns_data

,date,ticker,PRC,VOL,RET,SHROUT,vwretd,ewretd
0,2010-01-04,MSFT,30.95000,38564668.0,0.015420,8811000,0.017127,0.019120
1,2010-01-05,MSFT,30.96000,49900508.0,0.000323,8811000,0.003374,0.002475
2,2010-01-06,MSFT,30.77000,58338993.0,-0.006137,8811000,0.002046,0.003210
3,2010-01-07,MSFT,30.45200,50712549.0,-0.010335,8811000,0.002861,0.006887
4,2010-01-08,MSFT,30.66000,51358330.0,0.006830,8811000,0.004174,0.007230
...,...,...,...,...,...,...,...,...
276895,2020-12-24,MA,336.00000,1308938.0,0.020563,988470,0.002330,-0.000277
276896,2020-12-28,MA,344.47000,3449092.0,0.025208,988470,0.003847,0.001350
276897,2020-12-29,MA,346.66000,2823004.0,0.006358,988470,-0.003652,-0.008483
276898,2020-12-30,MA,355.54999,4200633.0,0.025645,988470,0.003291,0.010155
276899,2020-12-31,MA,356.94000,2881763.0,0.003909,988470,0.003558,-0.001058

In [10]:
characteristics = pd.read_csv("data/Stock_Characteristics_Data.csv")
characteristics

,datadate,ticker,conm,act,at,capx,ceq,che,cogs,csho,...,pstkr,sale,seq,txditc,xint,xrd,xsga,mkvalt,prcc_f,sic
0,2009-12-31,PNW,PINNACLE WEST CAPITAL CORP,928.737,11808.155,775.354,3316.109,145.378,2312.544,101.435,...,0.0,3297.101,3316.109,1496.095,233.859,NaN,NaN,3710.4923,36.58,4911
1,2010-12-31,PNW,PINNACLE WEST CAPITAL CORP,931.930,12362.703,765.152,3683.327,110.188,2125.206,108.770,...,0.0,3263.645,3683.327,1833.566,244.174,NaN,NaN,4508.5165,41.45,4911
2,2011-12-31,PNW,PINNACLE WEST CAPITAL CORP,956.470,13111.018,902.708,3821.850,33.583,2067.817,109.246,...,0.0,3241.379,3821.850,1925.388,241.995,NaN,NaN,5263.4723,48.18,4911
3,2012-12-31,PNW,PINNACLE WEST CAPITAL CORP,1005.726,13379.615,904.522,3972.806,26.202,2045.713,109.743,...,0.0,3301.804,3972.806,2151.371,214.616,NaN,NaN,5594.6981,50.98,4911
4,2013-12-31,PNW,PINNACLE WEST CAPITAL CORP,1043.609,13508.686,1031.183,4194.470,9.526,2192.597,110.182,...,0.0,3454.628,4194.470,2504.243,201.888,NaN,NaN,5830.8314,52.92,4911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2016-12-31,AMP,AMERIPRISE FINANCIAL INC,NaN,139821.000,92.000,6292.000,7027.000,6748.000,154.760,...,0.0,11739.000,6292.000,NaN,244.000,NaN,2924.0,17169.0744,110.94,6211
1196,2017-12-31,AMP,AMERIPRISE FINANCIAL INC,NaN,147470.000,162.000,5998.000,8100.000,6435.000,146.635,...,0.0,12126.000,5998.000,NaN,210.000,NaN,3008.0,24850.2335,169.47,6211
1197,2018-12-31,AMP,AMERIPRISE FINANCIAL INC,NaN,137216.000,162.000,5588.000,9631.000,6848.000,136.331,...,0.0,12910.000,5588.000,NaN,245.000,NaN,3127.0,14228.8665,104.37,6211
1198,2019-12-31,AMP,AMERIPRISE FINANCIAL INC,NaN,151828.000,143.000,5729.000,8689.000,7186.000,123.939,...,0.0,12886.000,5729.000,NaN,214.000,NaN,3273.0,20645.7586,166.58,6211
1199,2020-12-31,AMP,AMERIPRISE FINANCIAL INC,NaN,165883.000,147.000,5867.000,11987.000,6661.000,116.766,...,0.0,11977.000,5867.000,NaN,162.000,NaN,3116.0,22691.1368,194.33,6211

In [12]:
dictionary = pd.read_excel("data/StockDataDictionary.xlsx")
dictionary

  Returns_Data                          Description
0       ticker  Ticker symbol given by the exchange
1         date                                 Date
2          prc     Closing price or bid/ask average
3          vol                         Share volume
4      ret_adj                   Returns (adjusted)
5       shrout                   Shares Outstanding
6       vwretd          SP500 Value-weighted return
7       ewretd         SP500 Equal-weighted return

In [16]:
characteristics['ticker'].describe()

count     1200
unique     100
top        PNW
freq        12
Name: ticker, dtype: object

In [18]:
returns_data['ticker'].describe()

count     276900
unique       100
top         MSFT
freq        2769
Name: ticker, dtype: object